{%  extends 'back-to-home.html' %}

{% block body %}
      <table>
	<thead>
	<th>ID Number</th>
	<th>First Name</th>
	<th>Middle Name</th>
	<th>Last Name</th>
    <th>Sex</th>
    <th>Course</th>
    <th>Course ID</th>
    <th>Course Description</th>
	</thead>
	<tbody>
		{% for data in cs %}
		<tr>
			<td>{{ data [0] }}</td>
			<td>{{ data [1] }}</td>
			<td>{{ data [2] }}</td>
			<td>{{ data [3] }}</td>
            <td>{{ data [4] }}</td>
            <td>{{ data [5] }}</td>
            <td>{{ data [6] }}</td>
            <td>{{ data [7] }}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

{% endblock %}